In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Cape Town,-33.9258,18.4232,59.11,65,0,14.97,ZA,2022-04-15 21:15:29
1,1,Albany,42.6001,-73.9662,67.46,21,73,8.01,US,2022-04-15 21:19:10
2,2,Qaanaaq,77.4840,-69.3632,-2.04,93,100,7.45,GL,2022-04-15 21:15:46
3,3,Castro,-24.7911,-50.0119,55.22,65,0,4.21,BR,2022-04-15 21:16:51
4,4,Punta Arenas,-53.1500,-70.9167,50.11,66,20,26.46,CL,2022-04-15 21:19:11

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the max teperature.
max_temp =  city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations=city_data_df[["Lat","Lng"]]


#Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer.
fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of Wind Speed
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
10,10,Puerto Ayora,-0.7393,-90.3518,78.76,81,91,10.47,EC,2022-04-15 21:19:13
11,11,Bara,10.3744,10.7288,85.71,45,100,12.73,NG,2022-04-15 21:19:13
17,17,Rikitea,-23.1203,-134.9692,77.63,71,1,16.69,PF,2022-04-15 21:19:15
21,21,Avarua,-21.2078,-159.7750,78.85,89,75,3.44,CK,2022-04-15 21:19:16
24,24,Vaini,-21.2000,-175.2000,82.56,74,20,8.05,TO,2022-04-15 21:19:17
27,27,Freetown,8.4840,-13.2299,76.53,79,7,10.00,SL,2022-04-15 21:19:18
29,29,Bonthe,7.5264,-12.5050,78.60,82,27,9.40,SL,2022-04-15 21:19:19
30,30,Karratha,-20.7377,116.8463,83.03,70,72,3.20,AU,2022-04-15 21:19:19
31,31,Dogondoutchi,13.6393,4.0287,85.23,48,95,8.08,NE,2022-04-15 21:19:20
32,32,Gigmoto,13.7796,124.3900,77.52,81,33,3.85,PH,2022-04-15 21:19:20

In [12]:
preferred_cities_df.count()

City_ID       191
City          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
Country       191
Date          191
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
10  Puerto Ayora      EC     78.76  -0.7393  -90.3518
11          Bara      NG     85.71  10.3744   10.7288
17       Rikitea      PF     77.63 -23.1203 -134.9692
21        Avarua      CK     78.85 -21.2078 -159.7750
24         Vaini      TO     82.56 -21.2000 -175.2000
27      Freetown      SL     76.53   8.4840  -13.2299
29        Bonthe      SL     78.60   7.5264  -12.5050
30      Karratha      AU     83.03 -20.7377  116.8463
31  Dogondoutchi      NE     85.23  13.6393    4.0287
32       Gigmoto      PH     77.52  13.7796  124.3900

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
11,Bara,NG,85.71,10.3744,10.7288,
17,Rikitea,PF,77.63,-23.1203,-134.9692,People ThankYou
21,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
24,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
27,Freetown,SL,76.53,8.4840,-13.2299,The Country Lodge Hotel
29,Bonthe,SL,78.60,7.5264,-12.5050,Bonthe Holiday Village
30,Karratha,AU,83.03,-20.7377,116.8463,ibis Styles Karratha
31,Dogondoutchi,NE,85.23,13.6393,4.0287,Hôtel Alheri Maison Alheri
32,Gigmoto,PH,77.52,13.7796,124.3900,Cj's Travellers Inn

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))